* {
  box-sizing: border-box;
}

.question {
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media(min-width: 769px) {
      flex-direction: row;
    }
  }

  &-card {
    margin: 1rem 0 0;

    .card-content {
      min-height: 13rem;
    }
    &:first-child {
      margin-top: 0;
    }

    @media(min-width: 769px) {
      width: calc(25% - 2rem);
      margin: 1rem;

      &:nth-child(1) {
        margin-top: 1rem;
        margin-left: 0;
        width: calc(25% - 1rem);
      }

      &:nth-child(4n) + div {
        margin-left: 0;
        width: calc(25% - 1rem);
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}


input[type='radio'] {
  visibility: hidden;
}

label {
  cursor: pointer;
}

input[type='radio']:checked + label {
  background: hsl(0, 0%, 96%);
}

.percentage-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.votes-value {
  margin-right: 1rem;
  min-width: 6rem;
  font-weight: bold;
}
