.question {
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media(min-width: 769px) {
      flex-direction: row;
    }
  }

  &-card {
    margin: 1rem 0 0;

    &:first-child {
      margin-top: 0;
    }

    @media(min-width: 769px) {
      width: 25%;
      margin: 1rem 1rem 0;

      &:first-child {
        margin-top: 1rem;
        margin-left: 0;
        width: calc(25% -1rem);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
